.Searchbar {
    color: black;
    border: none;
    border-bottom:2px solid;
    border-color: #bce0f4;
    text-align: center;
    width: 60%;
    height: 1.5em;
    padding-left: 0.5em;
    font-size: 1.2rem;
}

.Searchbar:focus{
    outline: none;
}