.TableContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 950px;
}

.TripContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 40px;
    min-height: 350px;
}

.TripImageContent{
    width: 31%;
    min-height: 350px;
}

.TripImageMain {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 15px;
    cursor: pointer;
}

.TripContent {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.TextContents {
    padding-top: 10px;
    text-align: left;
}

.TextTitle {
    font-size: 1.7rem;
    margin-bottom: 7px;
    color: #111111;
    font-weight: bold;
    text-decoration: none;
}

.TextDescription {
    font-size: 1.1rem;
    white-space: pre-line;
    margin-bottom: 10px;
    color: #888888;
}

.TextSeeMore {
    color: #63b6e4;
}

.TextTags {
    font-size: 0.9rem;
    white-space: pre-line;
    margin-bottom: 20px;
    color: #888888;
}

.TextTag {
    text-decoration: underline;
    cursor: pointer;
}

.ImageContentsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    min-height: 115px;
}

.ImageContent {
    height: 100%;
    width: 115px;
    border-radius: 15px;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
}

@media only screen and (min-width: 970px) {
    .TripContainer {
        max-height: 400px;
    }
}

@media only screen and (max-width: 970px) {
    .TableContent {
        width: 100%;
    }
}