.table-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 950px;
}

.trip-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 40px;
    min-height: 350px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.trip-container:hover {
    transform: scale(1.02);
    transition:all 0.2 ease-in-out;
}

.trip-image-content{
    width: 31%;
    min-height: 350px;
}

.trip-image-main {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 15px;
    cursor: pointer;
}

.trip-content {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-contents {
    padding-top: 10px;
    text-align: left;
}

.text-title {
    font-size: 1.7rem;
    margin-bottom: 7px;
    color: #111111;
    font-weight: bold;
    text-decoration: none;
}

.text-description {
    font-size: 1.1rem;
    white-space: pre-line;
    margin-bottom: 10px;
    color: #888888;
}

.text-seemore {
    color: #63b6e4;
}

.text-tags {
    font-size: 0.9rem;
    white-space: pre-line;
    margin-bottom: 20px;
    color: #888888;
}

.text-tag {
    text-decoration: underline;
    cursor: pointer;
}

.image-contents-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px 5%;
    min-height: 115px;
}

.image-content {
    height: 115px;
    width: 115px;
    border-radius: 15px;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
}

@media only screen and (min-width: 970px) {
    .trip-container {
        max-height: 400px;
    }
}

@media only screen and (max-width: 1015px) {
    .table-content {
        width: 95%;
    }
}

@media only screen and (max-width: 550px) {
    .text-title {
        font-size: 1.5rem;
    }

    .text-description {
        font-size: 0.9rem;
    }

    .text-tags {
        font-size: 0.7rem;
    }

    .image-content {
        height: 100px;
        width: 100px;
    }
}
