.Home {
    text-align: center;
  }
  
  .Home-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
  }

  .Home-title {
    display: flex;
    font-size: calc(40px + 2vmin);
    color: #2c9cdb;
    margin-top: 60px;
    margin-bottom: 40px;
  }
  
  .Home-link {
    color: #61dafb;
  }
  